.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
