.container {
  display: flex;
  padding: 15px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info {
  margin-right: 15px;
}

.title {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.details {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about {
  font-size: 16px;
  margin: 10px;
}

.link {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(250, 128, 114);
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease 0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.link:hover {
  background: rgb(67, 67, 67);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
